@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CJC Project Estimator - @ViewBag.Title</title>
    <link href="~/Content/css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/Scripts/MicrosoftAjax.js" type="text/javascript"></script>
    <script src="/Scripts/MicrosoftMvcValidation.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
  <div class="header"><img src="~/Content/images/cjc_estimator_logo.png" width="282" height="35" alt="CJC Estimator Logo" />
  @if (Session["UserId"] == null)
  {
  <div class="login">
      @Html.Partial("Login")

    </div>
  }
  else
  {
  <div class="login">

    @using (Html.BeginForm("Logout", "Login"))
    {
          <input name="submit" type="submit" value="Logout" id="Submit" />
    }
    </div>
  }      
    
    <div class="containernav">
@if (Session["UserId"] == null)
{
    @Html.ActionLink("Home", "Index", "Home") 
}
else
{
    @Html.ActionLink("Home", "Index", "ProjectHome") 
}
 |
    @Html.ActionLink("About", "Index", "About") |  
    @Html.ActionLink("Sign-up", "Index", "Signup") |
    </div>
        @RenderBody()    
</div>

  <div class="footer">

    <p>Developed by Christopher Allen, Jeremy  Eichelberger, and Christopher Zeigler for CIS 665<br />
      Colorado State University - Go Rams! - 2013</p>
    <p><a href="http://www.colostate.edu"><img src="~/Content/images/csu-logo.png" width="170" height="55" alt="CSU Logo" /></a></p>
  </div>

</div> <!-- container -->

</body>
</html>
