@model CJCProjectEstimatorMVC.Models.ProjectReportViewModel
@{
    ViewBag.Title = "Index";
}

<h4><br>User Projects Report</h4>

<table class='report'>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Material Types</th>
        <th>Material Cost</th>        
        <th>Qty. Tasks</th>
        <th>Labor Cost</th>
        <th>Total Cost</th>
    </tr>
    </thead>
    <tbody>

@if (Model.Projects != null)
{
    foreach (CJCProjectEstimatorMVC.Models.ProjectReportLineViewModel project in Model.Projects)
    {
        <tr>
            <td>@project.Name</td>
            <td class="numberColumn">@project.QuantityOfMaterials</td>
            <td class="numberColumn">@String.Format("{0:c}", project.TotalMaterialCost)</td>
            <td class="numberColumn">@project.QuantityOfTasks</td>
            <td class="numberColumn">@String.Format("{0:c}", project.TotalLaborCost)</td>
            <td class="numberColumn">@String.Format("{0:c}", project.TotalCost)</td>
        </tr>

    }
}

    <tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-top: solid 2px black !important;">Total:</td>
            <td  style="border-top: solid 2px black !important;">@String.Format("{0:c}", Model.totalProjectCost)</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Num. Projects:</td>
            <td>@Model.numProjects</td>
        </tr>        
@if (Model.numProjects > 0)
{
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Avg. Project Cost:</td>
            <td>@String.Format("{0:c}", Model.avgProjectCost)</td>
        </tr>
}
    </tfoot>
    
</table>

<div class="contentClear"><p>Return to the @Html.ActionLink("Projects Page", "Index", "ProjectHome")</p></div>

