@model CJCProjectEstimatorMVC.Models.ProjectReportViewModel
@{
    ViewBag.Title = "Index";
}

<h4><br>User Projects Report</h4>

<table class='report'>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Material Types</th>
        <th>Material Cost</th>        
        <th>Qty. Tasks</th>
        <th>Labor Cost</th>
        <th>Total Cost</th>
    </tr>
    </thead>
    <tbody>

@if (Model.Projects != null)
{
    foreach (CJCProjectEstimatorMVC.Models.ProjectReportLineViewModel project in Model.Projects)
    {
        <tr>
            <td>@project.Name</td>
            <td class="numberColumn">@project.QuantityOfMaterials</td>
            <td class="numberColumn">@project.TotalMaterialCost</td>
            <td class="numberColumn">@project.QuantityOfTasks</td>
            <td class="numberColumn">@project.TotalLaborCost</td>
            <td class="numberColumn">@project.TotalCost</td>
        </tr>

    }
}

@*
?>
    <tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-top: solid 2px black !important;">Total:</td>
            <td  style="border-top: solid 2px black !important;"><?php echo money_format($totalCostOfProjects) ?></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Num. Projects:</td>
            <td><?php echo $numberOfProjects ?></td>
        </tr>        
<?php if($numberOfProjects != 0) {?>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Avg. Project Cost:</td>
            <td><?php echo money_format($totalCostOfProjects/$numberOfProjects) ?></td>
        </tr>
<?php } ?>
*@        
    </tfoot>
    
</table>

<div class="contentClear"><p>Return to the @Html.ActionLink("Projects Page", "Index", "ProjectHome")</p></div>

