@model CJCProjectEstimatorMVC.Models.AppUserViewModel
@{
    ViewBag.Title = "Sign-up";
}




@{ Html.EnableClientValidation(); }

   <h3><br />Sign up for the CJC Project Estimator</h3>
   <p>It's <strong>free</strong> and we won't spam you.</p>


    <div>@Html.ValidationSummary(true, "The following errors occured while signing up:")</div>
    <div>@Html.ValidationMessageFor(model => model.UserName)</div>
    <div>@Html.ValidationMessageFor(model => model.FirstName)</div>
    <div>@Html.ValidationMessageFor(model => model.LastName)</div>
    <div>@Html.ValidationMessageFor(model => model.CompanyName)</div>
    <div>@Html.ValidationMessageFor(model => model.Password)</div>
    <div>@Html.ValidationMessageFor(model => model.PasswordConfirm)</div>

   
   <div class="fieldset">
    <h4 class="legend">Sign-up</h4>
    @using (Html.BeginForm("Index", "Signup"))
    {

       
        
    <table class="table">
      <tr >
        <td class="firstcoll">User Name:<span class='required'>*</span></td>
        <td>@Html.TextBoxFor(model => model.UserName, new { maxlength = 45, size = 25 })

        </td>
      </tr>
      <tr >
        <td class="firstcoll">First Name:<span class='required'>*</span></td>
        <td>@Html.TextBoxFor(model => model.FirstName, new { maxlength = 45, size = 25 })

        </td>
      </tr>
      <tr>
        <td class="firstcoll">Last Name:<span class='required'>*</span></td>
        <td>@Html.TextBoxFor(model => model.LastName, new { maxlength = 45, size = 25 })

        </td>
      </tr>
      <tr>
        <td class="firstcoll">Company Name: </td>
        <td>@Html.TextBoxFor(model => model.CompanyName, new { maxlength = 45, size = 25 })

        </td>
      </tr>
      <tr>
        <td class="firstcoll">Password:<span class='required'>*</span></td>
        <td>@Html.PasswordFor(model => model.Password, new { maxlength = 15, size = 25 })

        </td>
      </tr>
      <tr>
        <td class="firstcoll">Confirm Password:<span class='required'>*</span></td>
        <td>@Html.PasswordFor(model => model.PasswordConfirm, new { maxlength = 15, size = 25 })

        </td>
      </tr>
      <tr>
        <td class="firstcoll" />
        <td class="submitcoll"><input class="input" type="submit" name="Submit" id="submit" value="Submit" /></td>
      </tr>
    </table>

     
    <span class='required'>* Required Fields</span>
    <p>&nbsp;</p>

    }
    </div>

    <script type="text/javascript">
        $(".field-validation-error").addClass("error-div");
        $(".field-validation-error").parent().addClass("error-div");
        $(".validation-summary-errors").parent().addClass("error-div");
    </script>

