@model CJCProjectEstimatorMVC.Models.BaseViewModel
@{
    ViewBag.Title = "Login";
}

<div class="fieldset">
    <div class="legend">Login</div>
    <h4>Enter your user name and password below to log in.</h4>
    
    @using (Html.BeginForm("Index", "Login"))
    {

    <div>@Html.ValidationSummary(true, "The following errors occurred while logging in:")</div>
    <div>@Html.ValidationMessageFor(model => model.AppUserVM.UserName)</div>
    <div>@Html.ValidationMessageFor(model => model.AppUserVM.Password)</div>

        <table class="table">
            <tr>
                <td class="firstcoll">@Html.LabelFor(model => model.AppUserVM.UserName, "User Name:")<span class='required'>*</span></td>
                <td>@Html.TextBoxFor(model => model.AppUserVM.UserName, new { maxlength = 45 })</td>
            </tr>
            <tr>
                <td class="firstcoll">@Html.LabelFor(model => model.AppUserVM.Password, "Password:")<span class='required'>*</span></td>
                <td>@Html.PasswordFor(model => model.AppUserVM.Password, new { maxlength = 15 })</td>
            </tr>
            <tr>
                <td class="firstcoll"></td>
                <td class="submitcoll"><input name="submit" type="submit" value="Login" id="Submit" /></td>
            </tr>
        </table>
        }
    <p>&nbsp;</p>    
    <span class='required'>* Required Fields</span>
    <p>&nbsp;</p>
</div>
